.team img {
  display: block;
  max-width: 200px;
  max-height: 200px;
}

a.pursuance-logo {
  width: 50px;
  height: 50px;
  display: block;
  background-image: url("../images/circlelogo.svg") !important;
  background-size: contain;
}

.fa {
  background: #222;
  color: white;
  padding: 10px;
  border-radius: 50%;
}

.logos {
  height: 36px;
  width: 36px; 
}

i.fa:hover {
  opacity: 0.7;
}

ul.foot{
  flex-direction: row;
  display: inline;
}

li.foot{
  display: inline-block;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150px;
  overflow: auto;
}
.flex-center p {
  margin: 0;
}

section:after {
  content: "";
  width: 50px;
  height: 3px;
  border-radius: 3px;
  background: #000000;
  display: block;
  margin: 80px auto 0 auto;
}

section:last-child:after {
  display: none;
}

section:last-child {
  padding-bottom: 100px;
}
