{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h1>Your local site is running</h1>
  <ol>
    <li>Your editable files are on <pre>app</pre> folder.</li>
    <li>Edit this file (or add new ones) at <pre>app/pages</pre></li>
    <li>Edit this layout (or add new ones) at <pre>app/templates</pre></li>
    <li>Personalize colors and fonts at <pre>app/sass/style.sass</pre></li>
    <li>Add new CSS rules at <pre>app/sass/layout.sass</pre></li>
</ol>
</div>
{% endblock %}
