{% extends "layout.html" %}
{% block content %}
<div class="container">
  <header>
      <h3>logo here</h3>
      <div class="links">
          <a href="#">link</a>
          <a href="#">link</a>
          <a href="#">link</a>
      </div>
  </header>
  <div class="description">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta iusto harum aspernatur, placeat dolores odio facilis ratione animi eaque magni!</p>
    <p>Omnis quaerat eaque aspernatur nemo animi maxime necessitatibus commodi dolore quae nam laudantium corrupti facere saepe voluptates, placeat, cumque, doloribus.</p>
</div>
<form>
    <h3>form here</h3>
</form>
</div>
{% endblock %}
