@font-face {
    font-family: "Dense-Regular";
    src: url("dense.eot");
    src: url("dense.eot?#iefix") format("embedded-opentype"),
         url("dense.woff2") format("woff2"),
         url("dense.woff") format("woff"),
         url("dense.ttf") format("ttf"),
         url("dense.svg#Dense-Regular") format("svg");
    font-style: normal;
    font-weight: 300;
}