@font-face {
    font-family: "FreightSansPro-Medium";
    src: url("FreightSansPro-Medium.eot");
    src: url("FreightSansPro-Medium.eot?#iefix") format("embedded-opentype"),
         url("FreightSansPro-Medium.woff2") format("woff2"),
         url("FreightSansPro-Medium.woff") format("woff"),
         url("FreightSansPro-Medium.ttf") format("ttf"),
         url("FreightSansPro-Medium.svg#FreightSansPro-Medium") format("svg");
    font-style: normal;
    font-weight: roman;
}