.chosen-container
  &.chosen-container-active
    .chosen-single
      border: none
      +reset(shadow)
      background: none
  .chosen-drop
    +shadow(normal, 0 2px 0 rgba(0,0,0, 0.05))
    border: 1px solid $color-link-hover
    border-top: none
    margin-top: -3px
    margin-right: -31px
    margin-left: -1px
  .chosen-single
    +radius(normal, 0)

.chosen-container-single
  .chosen-single
    line-height: 24px
  .chosen-search
    input[type="text"]
      margin: 1px 0
      padding: 4px 20px 4px 5px
      height: auto
      border: 1px solid #aaa
      +radius(normal, 0)
