<div class="input-group">
  <input type="date" placeholder="Date" value="00/00/0000">
 <a data-toggle="popover" class="btn btn-icon" data-content="<div class='calendar'>
  <header>
    <a href='#' class='btn mini'>
      <i class='fa fa-angle-left'></i>
    </a>
    <a href='#' class='btn mini'>
      <i class='fa fa-angle-right'></i>
    </a>
    <div class='the-month'>November 2015</div>
  </header>
  <div class='month'>
    <div class='week'>
      <div class='day'>Su</div>
      <div class='day'>Mo</div>
      <div class='day'>Tu</div>
      <div class='day'>We</div>
      <div class='day'>Th</div>
      <div class='day'>Fr</div>
      <div class='day'>Sa</div>
    </div>
    <div class='week'>
      <a href='#' class='day past'>27</a>
      <a href='#' class='day past'>28</a>
      <a href='#' class='day past'>29</a>
      <a href='#' class='day past'>30</a>
      <a href='#' class='day past'>31</a>
      <a href='#' class='day'>1</a>
      <a href='#' class='day'>2</a>
    </div>
    <div class='week'>
      <a href='#' class='day'>3</a>
      <a href='#' class='day'>4</a>
      <a href='#' class='day'>5</a>
      <a href='#' class='day'>6</a>
      <a href='#' class='day'>7</a>
      <a href='#' class='day'>8</a>
      <a href='#' class='day'>9</a>
    </div>
    <div class='week'>
      <a href='#' class='day'>10</a>
      <a href='#' class='day'>11</a>
      <a href='#' class='day'>12</a>
      <a href='#' class='day'>13</a>
      <a href='#' class='day'>14</a>
      <a href='#' class='day'>15</a>
      <a href='#' class='day'>16</a>
    </div>
    <div class='week'>
      <a href='#' class='day'>17</a>
      <a href='#' class='day'>18</a>
      <a href='#' class='day'>19</a>
      <a href='#' class='day'>20</a>
      <a href='#' class='day'>21</a>
      <a href='#' class='day'>22</a>
      <a href='#' class='day'>23</a>
    </div>
    <div class='week'>
      <a href='#' class='day'>24</a>
      <a href='#' class='day active'>25</a>
      <a href='#' class='day'>26</a>
      <a href='#' class='day'>27</a>
      <a href='#' class='day'>28</a>
      <a href='#' class='day'>29</a>
      <a href='#' class='day'>30</a>
    </div>
  </div>
</div>
" data-placement="bottom" data-html="true">
<i class="fa fa-calendar-o"></i>
</a>
</div>
